*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: hsl(206, 47%, 93%);
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: white;
    width: 700px;
    height: auto;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.block1{
    background-color: white;
    height: 40%;
    /* padding: 40px; */
    margin-top: 50px;
    margin-left: 50px;
}

.block1 > h1{
    font-size: 25px;
    margin-bottom: 25px;
    color: hsl(179, 62%, 43%);
}

.block1 > h2{
    font-size: 20px;
    margin-bottom: 15px;
    color: hsl(71, 73%, 54%);
}

.block1 > p{
    width: 550px;
    color: hsl(218, 22%, 67%);
    line-height: 30px;
    margin-bottom: 45px;
}

.block2{
    display: flex;
    flex-flow: row;
    height: 60%;
}

.sub-block1{
    background-color: hsl(179, 62%, 43%);
    width:50%;
    padding: 50px;
}

.h2{
    font-size: 20px;
    margin-bottom: 25px;
}

.price{
    display: flex;
    align-items: center;
    /* opacity: 50%; */
    margin-bottom: 10px;
}

span{
    font-size: 40px;
    font-weight: 700;
    margin-right: 10px;
}

.p-price{
    color: hsl(204, 43%, 93%);
}

.full{
    margin-bottom: 30px;
}

button{
    width: 250px;
    height: 50px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

button:hover{
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.sub-block2{
    background-color: hsl(179, 47%, 52%);
    width: 50%;
    padding: 50px;
}



.sub-block2 > p{
    width: 210px;
    color: hsl(204, 43%, 93%);
    font-size: 16px;
    line-height: 23px;
}

.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}

.footer-links{
    margin: 0 0 10px 0;
    font-size: 14px;
    color: hsl(218, 22%, 67%);
}

.link{
    margin-left: 5px;
    text-decoration: none;
    color: hsl(179, 62%, 43%);
    transition: all 0.5s;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.link:hover{
    color: hsl(218, 22%, 67%);
}

@media screen and (max-width: 440px){
    
    body{
        height: 100%;
        position: relative;
    }

    main{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 350px;
        display: flex;
        flex-direction: column;
    }

    .block1 > h1{
        width: 320px;
        margin-right: 0;
    }

    .block1 > h2{
        width: 300px;
        margin-right: 0;
    }

    .block1 > p{
        width: 290px;
    }

    .block1{
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-left: 30px;
    }

    .block2{
        width: 100%;
        flex-direction: column;
        
    }

    .sub-block1, .sub-block2{
        width: 100%;
        padding: 30px;
    }
    
    button{
        width: 280px;
    }

    .footer{
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
    }

    .footer-links, .link{
        font-size: 12px;
    }

}